[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "~=2.5.2"
numpy = "~=1.26.4"
funcy = "~=2.0"
pyyaml = "~=6.0.1"
keyboard = "~=0.13.5"
bidict = "~=0.23.1"

[dev-packages]
flake8 = "==7.0.0"
flake8-bugbear = "~=24.4.26"
black = "~=24.4.0"
pytest = "~=8.1.1"
pyobjc-framework-Quartz = {version = "10.3.1", markers = "sys_platform == 'darwin'"}

[requires]
python_version = "3.12"
